
.card{
  box-shadow: 0 0 2px gray;
}

.card-title{
  font-size: 1.5rem;
  font-weight: bold;
}
.normal-text{
  font-size: 1rem;
}
.authentication{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.authentication-form{
  
}